@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  overflow-x: hidden;
  background-color: rgb(179, 58, 58);
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  width: 250px;
  height: 100px;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(19, 17, 17);
  transform: translateX(400%);
  transition: transform 0.7s ease;
}
/* .box h1 {
  font-size: 27px;
} */
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}
